
<div style="display: block; width: 100%">
  <canvas baseChart width="80" height="20"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="'line'"
    [plugins]="lineChartPlugins">
  </canvas>
</div>

<div class="wrapper">

  <div class="chart aside" >
    <canvas baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [colors]="pieChartColors"
      [legend]="pieChartLegend">
    </canvas>
  </div>
  
  
  <div class="mat-elevation-z8 aside"  >
    <table mat-table [dataSource]="formatedSalesData" >
      <!-- Order No. Column -->
      <ng-container matColumnDef="order_no">
        <th mat-header-cell *matHeaderCellDef> Order No. </th>
        <td mat-cell *matCellDef="let element"> {{element.order_no}} </td>
      </ng-container>
  
      <!-- Order Date Column -->
      <ng-container matColumnDef="order_date">
        <th mat-header-cell *matHeaderCellDef> Order Date </th>
        <td mat-cell *matCellDef="let element"> {{element.order_date}} </td>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
  
      <!-- Product Column -->
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let element"> {{element.product}} </td>
      </ng-container>
  
      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>
  
      <!-- Total amount Column -->
      <ng-container matColumnDef="total_amount">
        <th mat-header-cell *matHeaderCellDef> Total Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.total_amount | currency }} </td>
      </ng-container>
  
      <!-- Total qty Column -->
      <ng-container matColumnDef="total_qty">
        <th mat-header-cell *matHeaderCellDef> Total Qty </th>
        <td mat-cell *matCellDef="let element"> {{element.total_qty}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator  showFirstLastButtons></mat-paginator>
  </div>


</div>

